.event-number-input {
  grid-column-start: 10;
  grid-column-end: 10;
  width: 100%;
}

/* input[type="number"] {
  text-align: center;
}

.numberOfEvents {
  width: 20%;
} */

.numberOfEventsLabel {
  grid-column-start: 7;
  grid-column-end: 10;
  margin-top: 5%;
}

/* .errorAlert {
  grid-column-start: 1;
  grid-column-end: 5;
} */